{% extends "base.html" %} {% block content %}

<div class="max-w-lg mx-auto flex flex-col gap-5 mt-12">
  <h1 class="text-3xl mb-4 text-center font-semibold text-gray-900 dark:text-gray-300">
    Booking Lapangan
  </h1>
  {% if bookings.count == 0 %}
  <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">
    Belum ada booking
  </p>
  {% endif %} {% for booking in bookings %}
  <a
    href="{% url 'lapangan_detail' booking.lapangan.id %}"
    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
  >
    {% if booking.lapangan.foto %}
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="{{ booking.lapangan.foto.url }}" alt="{{ booking.lapangan.nama }}" />
    {% else %}
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg" alt="{{ lapangan.nama }}" />
    {% endif %}
    <div class="flex flex-col justify-between p-4 leading-normal text-sm font-medium text-gray-900">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {{ booking.lapangan.nama }}
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        <b>Status:</b> {{ booking.status }}
      </p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        <b>Durasi:</b> {{ booking.jumlah_jam }} jam
      </p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        <b>Total:</b> {{ booking.total_harga }}
      </p>
      {% for jadwal in booking.jadwals.all %}
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        <b>Waktu:</b> {{ jadwal.tanggal }}, {{ jadwal.jam_mulai }} - {{ jadwal.jam_selesai }}
      </p>
      {% endfor %}
    </div>
  </a>

  {% endfor %}
</div>

{% endblock content %}
