{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="flex flex-col items-center justify-center h-screen rounded-lg">
        <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
            <form method="post" action="{% url 'login' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <h5 class="text-xl font-medium text-gray-900 dark:text-white">Login</h5>

                <div class="mb-3"></div>

                <div>
                    <label for="{{ form.username.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                    <input
                        type="{{ form.username.field.widget.input_type }}"
                        name="{{ form.username.name }}"
                        id="{{ form.username.id_for_label }}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                        placeholder="{{ form.username.field.widget.attrs.placeholder }}"
                        {% if form.username.field.required %}required{% endif %}
                        value="{{ form.username.value|default:'' }}"
                    >
                </div>

                <div class="mb-3"></div>

                <div>
                    <label for="{{ form.password.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                    <input
                        type="password"
                        name="{{ form.password.name }}"
                        id="{{ form.password.id_for_label }}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                        placeholder="{{ form.password.field.widget.attrs.placeholder }}"
                        {% if form.password.field.required %}required{% endif %}
                        value="{{ form.password.value|default:'' }}"
                    >
                </div>

                <div class="mb-3"></div>

                <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>

            </form>
            
            <div class="mt-4 text-center text-sm">
                Don't have an account? <a href="{% url 'register' %}" class="text-blue-700 hover:underline dark:text-blue-500">Register here</a>.
            </div>
        </div>
        {% if form.errors %}
        <div class="max-w-xl mx-auto mt-6 bg-red-100 text-red-700 p-4 rounded-lg">
          <ul class="list-disc pl-5">
            {% for field, errors in form.errors.items %}
            <li>{{ field }}: {{ errors.0 }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
    </div>

    <div style="height: 20px;"></div>
{% endblock %}
