{% extends "base.html" %} {% load static %} {% block content %}

<div class="container mx-auto px-4 py-8">
  <div class="max-w-2xl mx-auto bg-white shadow-lg rounded-lg px-6 py-8">
    <h1 class="text-3xl font-semibold mb-4">Update Lapangan</h1>

    {% if error_message %}
    <div
      class="fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none"
    >
      <div class="relative w-auto max-w-md mx-auto my-6">
        <div
          class="relative flex flex-col w-full bg-white border-0 rounded-lg shadow-lg outline-none focus:outline-none"
        >
          <div
            class="flex items-start justify-center py-3 border-b border-solid border-blueGray-200 rounded-t"
          >
            <h3 class="text-xl font-semibold">Tidak dapat update lapangan</h3>
          </div>
          <div class="relative p-6 flex-auto">
            <p
              class="my-4 text-blueGray-500 text-lg leading-relaxed text-center"
            >
              {{ error_message }}
            </p>
          </div>
          <div
            class="flex items-center justify-center py-3 border-t border-solid border-blueGray-200 rounded-b"
          >
            <button
              class="text-red-500 background-transparent font-bold text-sm outline-none focus:outline-none mr-1 mb-1"
              type="button"
              onclick="closeModal('errorModal')"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
    {% endif %}

    <form
      action=""
      method="POST"
      enctype="multipart/form-data"
      class="space-y-6"
    >
      {% csrf_token %} {% for field in form %}
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="{{ field.id_for_label }}"
        >
          {{ field.label }}
        </label>
        {% if field.name == "deskripsi" or field.name == "alamat" %}
        <textarea
          id="{{ field.id_for_label }}"
          name="{{ field.name }}"
          class="shadow appearance-none border rounded w-3/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          rows="4"
          placeholder="{{ field.value|default_if_none:'' }}"
        >
{{ field.value|default_if_none:'' }}</textarea
        >
        {% elif field.name == "foto" %}
        <input
          id="{{ field.id_for_label }}"
          name="{{ field.name }}"
          type="{{ field.field.widget.input_type }}"
          class="shadow appearance-none border rounded w-2/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="{{ field.value|default_if_none:'' }}"
        />
        {% else %}
        <input
          id="{{ field.id_for_label }}"
          name="{{ field.name }}"
          type="{{ field.field.widget.input_type }}"
          class="shadow appearance-none border rounded w-1/3 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          value="{{ field.value|default_if_none:'' }}"
          placeholder="{{ field.value|default_if_none:'' }}"
        />
        {% endif %} {% if field.help_text %}
        <p class="text-gray-600 text-xs italic">{{ field.help_text }}</p>
        {% endif %} {% for error in field.errors %}
        <p class="text-red-500 text-xs italic">{{ error }}</p>
        {% endfor %}
      </div>
      {% endfor %}

      <div class="text-center mt-6">
        <button
          type="button"
          onclick="showConfirmationModal(event)"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out"
        >
          Update
        </button>
      </div>
    </form>
  </div>

  {% if form.errors %}
  <div class="max-w-xl mx-auto mt-6 bg-red-100 text-red-700 p-4 rounded-lg">
    <ul class="list-disc pl-5">
      {% for field, errors in form.errors.items %}
      <li>{{ field }}: {{ errors.0 }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div
    id="confirmationModal"
    class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
  >
    <div
      class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white"
    >
      <div class="mt-3 text-center">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Confirm Update
        </h3>
        <div class="mt-2 px-7 py-3">
          <p class="text-sm text-gray-500">
            Are you sure you want to update this Lapangan?
          </p>
        </div>
        <div class="items-center px-4 py-3">
          <button
            id="cancelButton"
            class="px-4 py-2 bg-gray-200 text-gray-800 rounded text-base hover:bg-gray-300 mr-2"
          >
            Cancel
          </button>
          <button
            id="confirmButton"
            class="px-4 py-2 bg-blue-500 text-white rounded text-base hover:bg-blue-600"
          >
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document
    .getElementById("confirmButton")
    .addEventListener("click", function () {
      document.getElementById("confirmationModal").classList.add("hidden");
      document.querySelector("form").submit();
    });

  document
    .getElementById("cancelButton")
    .addEventListener("click", function () {
      window.history.back();
    });

  function showConfirmationModal(event) {
    event.preventDefault();
    document.getElementById("confirmationModal").classList.remove("hidden");
  }

  document
    .querySelector("form")
    .addEventListener("submit", showConfirmationModal);

  function closeModal(modalId) {
    window.history.back();
  }
</script>

{% endblock %}
