{% extends "base.html" %} {% block content %}
<!-- app/templates/home.html -->

<style>
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: gainsboro;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 6px;
    border: 3px solid gainsboro;
  }
</style>

<div class="container mx-auto px-4">
  <h1 class="my-6 text-3xl text-center text-green-800 font-semibold">
    Welcome to DashJeans!
  </h1>

  <div class="mb-6">
    {% if user.is_authenticated %}
    <div class="bg-white rounded-lg shadow-lg p-5 text-center">
      <p>Welcome, <strong>{{ user.username }}</strong>!</p>
      {% if user.foto %}
      <img
        class="object-cover w-32 h-32 rounded-full mx-auto border-2 border-green-300"
        src="{{ user.foto.url }}"
        alt="{{ user.username }}"
      />
      {% else %}
      <img
        class="object-cover w-32 h-32 rounded-full mx-auto border-2 border-green-300"
        src="https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg"
        alt="Default Image"
      />
      {% endif %}
      <p class="mt-2">
        Role: <span class="text-green-600">{{ user.role }}</span>
      </p>
      <p>Email: <span class="text-green-600">{{ user.email }}</span></p>
      <a
        href="{% url 'logout' %}"
        class="mt-4 inline-block bg-red-500 text-white px-3 py-2 rounded hover:bg-red-600 transition"
        >Logout</a
      >
    </div>
    {% else %}
    <p class="text-center">
      Welcome, Guest! Please
      <a href="{% url 'login' %}" class="text-blue-500 hover:underline"
        >log in</a
      >.
    </p>
    {% endif %}
  </div>

  <div
    class="flex flex-row gap-5 overflow-x-auto py-2 custom-scrollbar justify-center"
  >
    {% for lapangan in lapangans %}
    <div
      class="bg-white border border-gray-200 rounded-lg shadow-lg hover:shadow-xl transition-shadow max-w-sm"
    >
      <div class="flex flex-row items-center">
        <div class="w-1/2">
          {% if lapangan.foto %}
          <img
            class="object-cover w-full rounded-t-lg h-96"
            src="{{ lapangan.foto.url }}"
            alt="{{ lapangan.nama }}"
          />
          {% else %}
          <img
            class="object-cover w-full rounded-t-lg h-96"
            src="https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg"
            alt="{{ lapangan.nama }}"
          />
          {% endif %}
        </div>
        <div class="flex flex-col justify-between p-4 leading-normal w-1/2">
          <h5 class="mb-2 text-xl font-bold text-gray-900">
            {{ lapangan.nama }}
          </h5>
          <a
            href="{% url 'lapangan_detail' pk=lapangan.pk %}"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300"
          >
            Detail
            <svg
              class="w-4 h-4 ml-2 -mr-1"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div style="height: 20px"></div>
</div>

{% endblock content %}
